spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/musclub
    username: musclub
    password: musclub
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false
  flyway:
    enabled: true
    schemas: public
    default-schema: public
    validate-on-migrate: false

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api/docs
  pageable-converter:
    enabled: true
  sort-converter:
    enabled: true
